header{
    background-color: #FFF9F4;
}
.navbar-color{
    background-color: #FFF9F4;
}


.navbar .header-text-color{
    color: #FA804C;

}
.section-two .nike-header-color{
    color: #FA804C;
}
.shoes-section .card-color{

background-color: #88878679;
}
.shoes-section .header-text-color{
    color: #FA804C;
}
.perfect-fit-section .fit-icons img{
    width: 78px;
    height:82px;
    
}